/*=============================================
TOP
=============================================*/

#top ul{
	padding-top:8px;
}

#top ul li{
	display:inline;
	line-height:30px;
	margin:0px 5px;
	color:white;
}

.social ul li a i{
	font-size:18px;
	margin:0 1px;
}

.info-mail ul{
	text-align: right;
	font-size:12px;
}
#cabezote ul{
	margin-top: 30px;
	text-align: right;
	font-size: 18px;
	font-weight: bold;


}

#cabezote ul li{
	display:inline;
	margin:0px 5px;
	color:#354578;

}

#cabezote ul li i{
	color: #8FC144;
	font-size: 35px;
	margin-right: 10px;
	line-height: 1;
	font-weight: bold;

}


/*=============================================
HEADER
=============================================*/
header{
}

/*=============================================
ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
=============================================*/

@media (min-width:1200px){

	/*=============================================
	HEADER
	=============================================*/

	header #logotipo img{
		padding-top: 8px;
	    padding-bottom: 8px;
	    width: 60% !important;

	}

	header #carrito{
		padding-left:100px;
	}

}

/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/

@media (max-width:1199px) and (min-width:992px){

	/*=============================================
	HEADER
	=============================================*/

	header #logotipo img{
		padding-top: 8px;
	    padding-bottom: 8px;

	}

	header #carrito{
		padding-left:70px;
	}

}

/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/

@media (max-width:991px) and (min-width:768px){

	/*=============================================
	HEADER
	=============================================*/

	header #logotipo img{
		padding-top: 8px;
	    padding-bottom: 8px;
	    max-width: 150%;

	}

	header #carrito{
		padding-left:55px;
	}

	header #carrito p{
		display:none;
	}

	
}

/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/

@media (max-width:767px){

	/*=============================================
	TOP
	=============================================*/

	#top ul{
		text-align: center;
	}

	#top #registro{
		border-top:1px solid #222;
	}

	#top .info-mail{
		display: none;
	}
	
	/*=============================================
	HEADER
	=============================================*/

	header #logotipo img{
		padding-top: 8px;
	    padding-bottom: 8px;
	    max-width: 25%!important;
	    margin:0 auto;
	}

	header #categorias{
		margin-bottom:10px;
	}

	header #buscador{
		margin-bottom:10px;
	}

	header #carrito{
		margin:0px;
	}

	#cabezote ul{
		display: none;
	}

	
}
